## Retrieving and Cleaning the Dataset
After doing some Googling I found that my dataset was located

In [40]:
import pandas as pd

pd.options.display.max_rows = 20
HIST_DF = pd.read_csv("hist.csv")

# Display table
HIST_DF

,id,url,title,visit_count,typed_count,last_visit_time,hidden
0,54,https://mail.google.com/mail/u/0/#inbox,Inbox - rohan.mishra@students.makeschool.com -...,1,0,13154929679528562,0
1,348,https://www.facebook.com/profile.php?id=100004...,Rohan Mishra,290,142,13161922781263141,0
2,551,https://www.messenger.com/t/1002100799843065,Messenger,118,0,13161816397587728,0
3,704,https://github.com/Meeshbhoombah,Meeshbhoombah (Rohan Mishra),209,62,13161908276320130,0
4,1110,https://www.makeschool.com/users/auth/facebook,Log into Facebook | Facebook,5,0,13157852987745316,0
5,1347,https://www.messenger.com/t/dhruv.mand,(1) Messenger,7,0,13160376562930578,0
6,1373,https://www.messenger.com/t/steven.abreu.3,(1) Messenger,20,0,13159064436577403,0
7,1758,http://www.google.com/,Google,36,0,13162266986701633,0
8,1934,https://www.messenger.com/t/nikhilesh.kashyap.1,(1) Messenger,5,0,13157333986376802,0
9,6486,https://www.messenger.com/new,(1) Messenger,6,0,13159776337683734,0
...,...,...,...,...,...,...,...
18857,79314,https://random.kakaopor.hu/how-to-repair-an-sq...,How to repair an SQLite database – random things,1,0,13162432788499682,0
18858,79315,https://random.kakaopor.hu/how-to-repair-an-sq...,How to repair an SQLite database – random things,1,0,13162432788499682,0
18859,79316,https://www.google.com/search?q=convert+sqlite...,convert sqlite database to csv terminal - Goog...,1,0,13162432908009783,0
18860,79317,http://www.sqlitetutorial.net/sqlite-export-csv/,Export SQLite Database To a CSV File,1,0,13162432910615356,0
18861,79318,https://www.google.com/search?q=list+all+table...,list all tables sqlite3 - Google Search,1,0,13162433232768983,0
18862,79319,https://stackoverflow.com/q/82875,sql - How to list the tables in an SQLite data...,1,0,13162433235155559,0
18863,79320,https://stackoverflow.com/questions/82875/how-...,sql - How to list the tables in an SQLite data...,1,0,13162433235155559,0
18864,79321,https://www.google.com/search?q=list+databases...,list databases sqlite - Google Search,1,0,13162433269776682,0
18865,79322,https://www.sitepoint.com/getting-started-sqli...,Getting Started with SQLite3 - Basic Commands ...,1,0,13162433282333008,0
18866,79323,https://www.google.com/search?q=unlock+a+datab...,unlock a database - Google Search,1,0,13162433402251344,0

With one line we can see the top five most and least visited sites.

In [39]:
HIST_DF.sort_values(['visit_count'], ascending=False)

,id,url,title,visit_count,typed_count,last_visit_time,hidden
284,43014,https://www.messenger.com/,Messenger,659,0,13162425237704251,0
15361,75818,https://docs.google.com/spreadsheets/d/1x7RCob...,CS 3: Core Data Structures Progress (Term 3) -...,646,2,13162356379894316,0
808,57840,https://docs.google.com/spreadsheets/d/1KF-7CF...,CS 2: Tweet Generator Tutorial Progress (Term ...,471,5,13156985624761288,0
936,60927,https://docs.google.com/spreadsheets/d/1PUffTZ...,NaN,377,0,13157489893615800,0
1,348,https://www.facebook.com/profile.php?id=100004...,Rohan Mishra,290,142,13161922781263141,0
...,...,...,...,...,...,...,...
758,56797,https://www.publicsafety.gc.ca/cnt/rsrcs/pblct...,Cannabis Performance Metrics for Policy Consid...,0,0,0,0
130,37523,http://trydesignlab.com/blog/bauhaus-school-fi...,Learning in the Bauhaus School: five lessons f...,0,0,0,0
757,56787,https://www.foottraffik.co/key-performance-ind...,53+ Key Performance Indicators (KPIs) for Cann...,0,0,0,0
921,60727,https://www.mrporter.com/journal/the-interview...,The Many Stories Of Instagram’s Billionaire Fo...,0,0,0,0
129,37519,https://99designs.com/blog/creative-inspiratio...,Know your design history: The Bauhaus Movement...,0,0,0,0